.advantages__after-title {
  margin-bottom: 44px;

  @include font(18px, 400, 1.67, 0.02em);

  color: #555555;
}
.advantages-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-bottom: -15px;
  margin-right: -15px;
  margin-left: -15px;
  &__item {
    flex-basis: calc((100% - 60px) / 2);
    padding: 20px 32px;
    margin: 15px;

    background-color: #f7f7f7;
  }
}
.advantage {
  @include font(11px, 600, 1.3636);
  text-align: center;

  color: $title-color;
  &__title {
    @include font(42px, 700, 1.36, 0.05em);
  }
  &__title--plus {
    @include font(16px, 600, 1.375);
    vertical-align: super;

    color: $brand-color;
  }
}
