.contacts {
  background-color: #191c26;
  background-image: url(../images/background/contacts/contacts-bg-mobile.png);
  background-size: cover;
  background-position: center;
  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/background/contacts/contacts-bg-mobile@2x.png);
  }
  @media screen and (min-width: 768px) {
    background-image: url(../images/background/contacts/contacts-bg-tablet.png);
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/background/contacts/contacts-bg-tablet@2x.png);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: url(../images/background/contacts/contacts-bg-desktop.png);
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/background/contacts/contacts-bg-desktop@2x.png);
    }
  }
  @media screen and (min-width: 1200px) {
    flex-basis: 50%;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: left;
      flex-basis: 100%;
    }
  }
  &__container {
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
      display: flex;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
      width: 100%;
    }
  }
  &__subsection {
    @media screen and (min-width: 768px) {
      flex-basis: calc(50% - 15px);
    }
  }
}
.address {
  font-style: normal;
  @include font(18px, 400, 1.667, 0.02em);
  @media screen and (max-width: 479.98px) {
    @include font(3.75vw);
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(50% - 15px);
    margin-right: 30px;
  }

  color: $primary-text-color;
  &__link {
    display: block;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__icon {
    margin-right: 20px;
    vertical-align: middle;
  }

  &__email {
    text-decoration: underline;
  }
}
.opening-hours {
  margin-top: 44px;
  margin-bottom: 20px;

  @include font(11px, 600, 1.3636, 0.1em);
  text-transform: uppercase;

  color: $secondary-brand-color;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 70px;
  }

  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    width: 60px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.4);
  }
  &__text {
    font-style: normal;

    @media screen and (max-width: 479.98px) {
      @include font(3.75vw);
    }
    @include font(18px, 400, 1.667, 0.02em);

    color: $primary-text-color;
  }
}
