.gallery__pre-title {
  margin-bottom: 44px;
}
.gallery-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.gallery-list__item {
  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin: 15px;
  }
}
