.team {
  background-color: #f7f7f7;
  &__title {
    margin-bottom: 44px;
  }
  &-list__item:not(:last-child) {
    margin-bottom: 64px;
  }
  &__container {
    @media screen and (min-width: 768px) {
      padding-left: 159px;
      padding-right: 159px;
    }
  }
}
