.backdrop {
  z-index: 10000;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(25, 28, 38, 0.2);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  @include transition(opacity);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.no-scroll {
  overflow: hidden;
}
