.master {
  &__name {
    margin-top: 30px;

    @include font(18px, 400, 1.3889, 0.02em);
    text-align: center;

    color: $title-color;
  }
  &__title {
    margin-top: 8px;
    margin-bottom: 30px;
    @include font(14px, 400, 1.36, 0.02em);
    text-align: center;

    color: $brand-color;
  }
}
