.sections-wrapper {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
.section-wrapper--background-mod {
  background-color: #191c26;
}
