body {
  background-color: $secondary-brand-color;
  color: $secondary-text-color;
  font-family: 'Open Sans', sans-serif;
  @include font(14px, 400, 1.86, 0.02em);

  .backdrop[opacity='1'] & {
    overflow-y: hidden;
  }
}
.container {
  width: 100%;
  padding: 84px 31px;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 100px 39px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 130px 15px;
  }
}

.pre-title {
  color: $title-color;
  @include font(11px, 600, 1.36, 0.1em);
  text-transform: uppercase;

  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    width: 60px;
    height: 1px;
    background-color: $title-color;
  }
  &--dark {
    color: $semi-transpartent-text-color;
    &::before {
      background-color: $semi-transpartent-text-color;
    }
  }
}
.section__title {
  margin-top: 20px;
  margin-bottom: 20px;

  color: $title-color;
  font-family: 'Raleway', sans-serif;
  @include font(42px, 700, 1.667, 0.05em);
  @media screen and (max-width: 479.98px) {
    @include font(8.5vw);
  }

  &--dark {
    color: $secondary-brand-color;
  }
}
